.grid {
  display: flex;
  justify-content: center;
}

.text {
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  animation-duration: 1s;
}

.title {
  flex: 1 auto;
  width: 0;
  font-size: 9vw;
  font-weight: lighter;
  margin-bottom: 0px;
  animation-name: entranceTitle;
}

.subtitle {
  font-size: 2vw;
  font-weight: lighter;
  font-family: "Lato", Roboto, "Helvetica Neue", sans-serif !important;
  margin-top: 0px;
  animation-name: entranceSubtitle;
  animation-duration: 0.8s;
}

@keyframes entranceTitle {
  0% {
    font-size: 0px;
  }
  75% {
    font-size: 9.2vw;
  }
  100% {
    font-size: 9vw;
  }
}

@keyframes entranceSubtitle {
  0% {
    font-size: 0px;
  }
  75% {
    font-size: 2.1vw;
  }
  100% {
    font-size: 2vw;
  }
}
