.text {
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.title {
  flex: 1 auto;
  width: 0;
  font-size: 9vw;
  font-weight: lighter;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 2vw;
  font-weight: lighter;
  font-family: "Lato", Roboto, "Helvetica Neue", sans-serif !important;
  margin-top: 0px;
}

.grid {
  display: flex;
  justify-content: center;
}
