.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitle {
  font-weight: 300;
}

.divider {
  margin-top: 10px;
  height: 10px;
}

.setting-title {
  margin-top: 0.5rem;
}

.grid {
  display: grid;
}

.slider {
  margin-bottom: 1rem;
}

.save-btn {
  font-weight: bold;
}
