<h2 class="title">Settings</h2>
<span class="subtitle">Set up your application here!</span>
<mat-divider class="divider"></mat-divider>
<mat-dialog-content>
  <h3 class="setting-title">Weather Widget</h3>
  <div class="grid">
    <mat-slide-toggle
      class="slider"
      color="primary"
      [checked]="settings.weather.show"
      (change)="toggleShowWeatherShow()"
      >
      Show weather
    </mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-select
      [value]="settings.weather.units"
      (selectionChange)="changeWeatherUnits($event.value)"
      >
      @for (unit of WEATHER_UNITS | keyvalue; track unit) {
        <mat-option
          [value]="unit.value"
          >
          {{ unit.key }}
        </mat-option>
      }
    </mat-select>
    <mat-label>Temperature units</mat-label>
  </mat-form-field>

  <mat-divider class="divider"></mat-divider>
  <h3 class="setting-title">Danger zone</h3>
  <div class="grid danger-zone">
    <button
      mat-raised-button
      color="warn"
      class="warnBtn"
      (click)="restoreDefaultBookmarks()"
      >
      <mat-icon>bookmarks</mat-icon>
      Restore default bookmarks
    </button>
    <button
      mat-raised-button
      color="warn"
      class="warnBtn"
      (click)="restoreDefaultSettings()"
      >
      <mat-icon>settings</mat-icon>
      Restore default settings
    </button>
  </div>
</mat-dialog-content>
<mat-divider class="divider"></mat-divider>
<mat-dialog-actions align="end">
  @if (confirmDiscard) {
    <button mat-button (click)="closeSettings()">I'm sure</button>
    @if (confirmDiscard) {
      <button mat-button (click)="confirmDiscard = false">
        Cancel
      </button>
    }
  } @else {
    @if (!confirmDiscard) {
      <button mat-button (click)="confirmDiscard = true">
        Discard
      </button>
    }
  }
  <button
    mat-raised-button
    (click)="saveAndCloseSettings()"
    cdkFocusInitial
    color="primary"
    class="save-btn"
    >
    Save
  </button>
</mat-dialog-actions>
