<h2 class="title">Settings</h2>
<span class="subtitle">Set up your application here!</span>
<mat-divider class="divider"></mat-divider>
<mat-dialog-content>
  <h3 class="setting-title">Language</h3>
  <div class="grid">
    <mat-form-field>
      <mat-select>
        <mat-option value="en">English</mat-option>
        <mat-option value="ca">Català</mat-option>
        <mat-option value="es">Español</mat-option>
      </mat-select>
      <mat-label>Language</mat-label>
    </mat-form-field>
  </div>
  <mat-divider class="divider"></mat-divider>
  <h3 class="setting-title">Clock</h3>
  <div class="grid">
    <mat-slide-toggle class="slider">Show seconds</mat-slide-toggle>
    <mat-form-field>
      <mat-select>
        <mat-option value="12">12 hour</mat-option>
        <mat-option value="24">24 hour</mat-option>
      </mat-select>
      <mat-label>Hour format</mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select>
        <mat-option value="none">Don't show</mat-option>
        <!-- SEE MORE OPTIONS IN HERE -->
        <!-- https://docs.oracle.com/cd/E41183_01/DR/Date_Format_Types.html -->
        <mat-option value="YYYY/MM/SS">YYYY/MM/SS</mat-option>
        <mat-option value="DD/MM/YYYY">DD/MM/YYYY</mat-option>
      </mat-select>
      <mat-label>Date format</mat-label>
    </mat-form-field>
  </div>

  <mat-divider class="divider"></mat-divider>
  <h3 class="setting-title">Weather Widget</h3>
  <div class="grid">
    <mat-slide-toggle class="slider">Show weather</mat-slide-toggle>
  </div>
  <mat-divider class="divider"></mat-divider>
  <h3 class="setting-title">Background</h3>
  <div class="grid">
    <mat-form-field>
      <mat-select>
        <mat-option value="static">Static</mat-option>
        <mat-option value="random">Random</mat-option>
      </mat-select>
      <mat-label>Background pick</mat-label>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-divider class="divider"></mat-divider>
<mat-dialog-actions align="end">
  <button *ngIf="confirmDiscard" mat-button (click)="closeSettings()">
    I'm sure
  </button>
  <button *ngIf="confirmDiscard" mat-button (click)="confirmDiscard = false">
    Cancel
  </button>
  <button *ngIf="!confirmDiscard" mat-button (click)="confirmDiscard = true">
    Discard
  </button>
  <button
    mat-raised-button
    (click)="saveAndCloseSettings()"
    cdkFocusInitial
    color="warn"
    class="save-btn"
  >
    Save
  </button>
</mat-dialog-actions>
