.bookmark {
  font-family: "Montserrat", "Lato", Roboto, "Helvetica Neue", sans-serif; // Mat button overrides the font family
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 1rem;
  align-items: center;
}

.image {
  flex: 1 auto;
  width: 50px;
  height: 50px;
  margin-top: 0.5rem;
}

.subtitle {
  flex: 1 auto;
  margin-top: 0.3rem;
}
