.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.clock {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation-name: entrance;
  animation-duration: 1s;
}

.toolbar {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
}

@keyframes entrance {
  0% {
    top: 15%;
  }
  75% {
    top: 15%;
  }
  100% {
    top: 20%;
  }
}

.bookmarks {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  width: 70%;
}
