.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.center {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation-name: entrance;
  animation-duration: 1s;
}

@keyframes entrance {
  0% {
    opacity: 0;
    font-size: 0px;
  }
  75% {
    opacity: 0.9;
    font-size: 1.05rem;
    top: 15%;
  }
  100% {
    opacity: 1;
    top: 20%;
  }
}

.text {
  color: white;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.title {
  font-size: 10em;
  font-weight: lighter;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 3em;
  font-weight: lighter;
  margin-top: 0px;
  font-family: "Lato", Roboto, "Helvetica Neue", sans-serif !important;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 20%, transparent);
}

.bookmarks {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
