.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.clock {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation-name: entrance;
  animation-duration: 1s;
}

.toolbar {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
}

@keyframes entrance {
  0% {
    opacity: 0;
    font-size: 0px;
  }
  75% {
    opacity: 0.9;
    font-size: 1.05rem;
    top: 15%;
  }
  100% {
    opacity: 1;
    top: 20%;
  }
}

.bookmarks {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
