.text {
  color: white;
  margin: 10px;
}

.widget-display {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.icon {
  width: 100px;
  height: 100px;
  align-self: center;
}

.details {
  align-self: center;
  margin-right: 1rem;
}
