@use "@angular/material" as mat;

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
      use-system-variables: true,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-theme);
  @include mat.system-level-colors($my-theme);
}
