.grid {
  display: flex;
  flex-wrap: wrap;
  color: white;
  row-gap: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1)
  );
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  max-height: 40vh;
  overflow-y: auto;
}

.bookmark {
  flex: 1 auto;
}

//============= Scrollbar =============
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 43);
}

// ------------- DRAG N DROP -------------

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.categories-item {
  flex: 1 0 5rem;
  margin: 5px;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  position: relative;
}

.placeholder {
  opacity: 0.4;
  border: 1px solid rgb(255, 100, 100);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
